
*{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.main-nav{
    background:#EA4D4B ;
    
    height:15vh;
    color: white;
    font-size: 40px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    padding-left: 50px;
}

.container{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.box-1{
    background-color: #F9CA22;
    height: 30vh;
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-top: 50px;
    color: black;
}

.box-2{
    background-color: #F0922B;
    height: 30vh;
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-top: 50px;
    color: black;
}

.box-3{
    background-color:#69B04C;
    height: 30vh;
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-top: 50px;
    color: black;
}

.list{
    align-items: flex-start;
    list-style-type: none;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.square{
    background-color: #EA4D4B;
    width: 20px;
    height: 20px;
    margin-top: 25px;
    margin-right: 50px;
}

/*mobiel*/
@media screen and (max-width: 576px){
    .square{
        background-color: white;
    }
    .main-nav{
        background-color: #686DE0;
    }
    .container{
        text-align: center;
    }
    .box-1{
        color: white;
        background-color: #7ED6DF;
    }
    .box-2{
        color: white;
        background-color: #E056FD;
    }
    .box-3{
        color: white;
        background-color: #30336A;
    }
}

/*tablet*/
@media screen and (min-width: 577px) and (max-width: 992px){
    .square{
        background-color: #FF6B81;
    }
    .main-nav{
        background-color: #FF6B81;
        text-align: center;
        
    }
    .box-1{
        color: white;
        background-color: #FE4657;
    }
    .box-2{
        color: white;
        background-color: #5352EC;
    }
    .box-3{
        color: white;
        background-color: #3742F9;
    }
}




