*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-container {
    background: grey;
}

.item-1{
    width: 100px;
    height: 100px;
    background: blue;
    margin: 10px;
    color: white;
}

.item-2