h1{
    font-size: 24px;
    color: #fafafa;
    font-weight: bold;
    font-style:italic;
    margin: 0;
}

h2{
    font-size: 20px;
    color: #0000ff;
    font-weight: bold;
}

h3{
    font-size: 16px;
    color:teal;
    font-weight: bold;
}

p{
    color: #4d4d4d;
    
}

#first-paragraph{
    font-weight: bold;
    color: white;
}


a{
    color: #8a2be2;
    text-decoration: none;
}

header{
    background-image: url(img/Wukong.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 300px;
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
}
 img{
    width: 50%;
 }

 article{
    border-style: double;
    border-radius: 20px;
    border-left-width: 10px;
    border-color: green;
 }


